/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2022, 12:30:17 AM
    Author     : 38160
*/



.list-type2{
width:500px;
margin:0 auto;
}

.list-type2 h4{
font-size: 16px;

}

.list-type2 p{
font-size: 16px;
}

.list-type2 ol{
counter-reset: li;
list-style: none;
*list-style: decimal;
padding: 0;
margin-bottom: 4em;
}

.list-type2 ol ol{
margin: 0 0 0 2em;
}

.list-type2 a{
	border:2px solid black;
font-size: 25px;
font-family: pixelArtFont;
position: relative;
display: block;
padding: .4em .4em .4em 2em;
*padding: .4em;
margin: .5em 0;
background: #ae9ffb;
color: #ffe846;
text-decoration: none;
transition: all .2s ease-in-out;
}

.list-type2 a:hover{
background: #d6d4d4;
text-decoration:none;
transform: scale(1.1);
}

.list-type2 a:before{
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background:#264b9a;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid #fff;
text-align: center;
font-weight: bold;
color:#FFF;
}


body{
background: url(.../slike/scoreboard.png);
background-repeat: no-repeat;
background-size: cover;
}